<%- include("partials/header") -%>
<form action="/" method="post">
<h1><label> Compose </label></h1>
<br><br>
<label> Title </label>
<br>
<input class="form-control" type="text" name="text4" required >
<br>
<label>Post</label>
<br>
<textarea class="form-control" rows="5" placeholder="Type Here" name="text7" required></textarea>
<br><br>
<button class="btn btn-primary" type="submit">Publish</button>
<%- include("partials/footer") -%>